body{
    background-color: antiquewhite;
}
.main{
    background-color: burlywood;
    border:3px solid;
    margin:10px
    
    

    
}
.inf
{
 text-align: center;
}
.info{
    background-color:blanchedalmond;
}
footer{
    border: 2px dotted;
    padding-bottom: 5px;
    box-sizing: border-box;
}