.menu{
    list-style-type: none;
    row-gap: 2px;
}
li{
    row-gap: 5px;
}
.img1{
   height:70px;
   width:100px; 
}
#Home{
    margin-top: 40px;
    margin-bottom: 30px;
}
.image-container{
    padding: 10px;
    padding-left: 0px;
}
#darshu{
    margin-top: 10px;
}


.abdul{
    height: 200px;
    width:250px;
}
.terms{
    font-size:10px;
    text-decoration: none;
    margin-top: 0;
}
.label{
    padding:10px;
    
}
.color{
    color:blue;
}


#vision{
    padding-left: 20px;
}
span{
    color:blue
}
