body{
    background-color:#245200;
}
#logo{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.h1{
    
    color:rgb(128, 177, 55);
    height:5px;
}
#h11{
    color:white;
    font-style: italic ;
}
#btn{
    background-color:rgb(128, 177, 55); 
    width:fit-content;
    
}
main{
    border: 2px solid rgb(128, 177, 55) ;
    box-shadow:5px -5px 0.5px 0.5px rgb(128, 177, 55) ;
}